.canvasContainer {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
  object-fit: cover;
}
