@use "@/styles/variables" as *;

.proceduralTemplate {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  position: relative;
  overflow-x: hidden;

  &::selection {
    background-color: rgba(var(--primary-rgb), 0.3);
  }
}

.main {
  position: relative;
  z-index: 10;
  padding-top: 10rem;
  padding-bottom: 5rem;
}
