@use "@/styles/variables" as *;

.proceduralTemplate {
  min-height: 100vh;
  background-color: #030712;
  color: #f9fafb;
  position: relative;
  overflow-x: hidden;

  &::selection {
    background-color: rgba(59, 130, 246, 0.3);
  }
}

.main {
  position: relative;
  z-index: 10;
  padding-top: 10rem;
  padding-bottom: 5rem;
}
